.doc{
    display: flex;
    height: 100vh;
    width: 100vw;
    

    .aside{
        flex: 0;
        // width: 25rem;
        background-color: var(--active-btn);
        box-shadow:
            1px 0px 2px 0px #62749D1A,
            4px 0px 4px 0px #62749D17,
            9px 0px 5px 0px #62749D0D,
            15px 0px 6px 0px #62749D03,
            24px 0px 7px 0px #62749D00;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        color: white;
        height: 100vh;
    }

    .main{
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-y: auto;
        padding: 1.5rem 3rem;
    }
}