.doc {
	display: grid;
	grid-template-columns: 20rem auto;
	height: 100vh;
	width: 100vw;

	.aside {
		flex: 0;
		background-color: var(--home);
		box-shadow: 1px 0px 2px 0px #62749d1a, 4px 0px 4px 0px #62749d17,
			9px 0px 5px 0px #62749d0d, 15px 0px 6px 0px #62749d03,
			24px 0px 7px 0px #62749d00;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		z-index: 1;
		color: white;
		height: 100vh;

		@media screen and (max-width: 1030px) {
			display: none;
		}
	}

	.main {
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow-y: auto;

		@media screen and (max-width: 1030px) {
			width: 100vw;
			
		}

	}
}

.loader {
	background-color: var(--home);
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	gap: 1rem;
	h2 {
		color: white;
	}
}
