$mobile:1000px;

.section {
    max-width: 100%;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    margin: 0rem 0rem 0rem 1rem;
    padding: 3px 3px 1rem 3px;

    &--rtl {
        margin: 0rem 1rem 0rem 0rem;
    }

    @media screen and (max-width: $mobile) {
        margin: 0rem 0rem;


    }

    .sectionTitle {
        font-weight: 500;
        font-size: 1.41rem;
        color: var(--text-blue);
        margin: 0;
    }

    .sectionsWrapper {
        display: flex;
        flex-direction: column;
        padding-left: 1.3rem;

        @media screen and (max-width: $mobile) {
            padding-left: 0rem;

        }

        &--rtl {
            @media screen and (max-width: $mobile) {
                padding-right: 0rem;

            }

            padding-left: 0;
        }

    }
}

.paragraphs {
    padding: 0rem 0rem 1rem 0rem;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.edit {
   background-color: #a0a0a036;
}

.back{
   margin-top: 1rem;
    color: #7484A9;
    text-decoration: none;
}