.sections {
    width: 100%;

    .sectionTitle {
        font-weight: 500;
        font-size: 1.41rem;
        color: var(--text-blue);
        margin: 0;
    }
    .sectionWrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
}