.section{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.518);
    font-size: 1.5rem;
}

.title{
    font-size: 1.5rem;
    margin:.6rem 0rem;
    font-weight: bold;
   

}

.input{
    width: 100%;
 
    border-radius: 5px;
    border:none;
    margin:.6rem 0rem;
    font-weight: bold;
    background-color: #f4f4f4;
   
    font-size: 1.5rem;
}