.title{
    display: flex;
    align-items: center;
    gap:1rem;
    h1, h2, h3, h4, h5, h6{
        margin: 0;
    }
    

    .adminH2{
        display: flex;
        gap:.5rem;
        font-size: 1rem;
        font-weight: 400;
        .viewed{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

}
.anchor{
    @media screen and (max-width: 768px){
         height: 1rem;
        
    }
   
}