.subSections {
    padding: 1.17rem;
    &__subSectionWrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        &__subSectionTitle {
            font-weight: 500;
            font-size: 1.17rem;
            color: var(--text-body-dark);
            margin: 0;
        }
    }
}