form {
	display: flex;
	flex-direction: column;
	max-width: 75ch;

	.input-element {
		display: flex;
		flex-direction: column;

		label {
			color: #7484a9;
			line-height: 1.3rem;
			font-size: 0.85rem;
		}

		input,
		select {
			border-radius: var(--sm-radius);
			border: 1px solid #bdcef4;
			padding: 0.5rem;
			color: gray;
			font-size: 1rem;
		}
	}
}
