$size:28px;



.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem .8rem;
    color: white;
    gap: 1rem;
    border: none;
    cursor: pointer;
    user-select: none;
}



.approve {
    background-color: var(--agree);

}


.nonActive {
    color: #739EE4;
    cursor: pointer;
    user-select: none;
    transform: scale(1.4);

}

.reject {
    background-color: var(--reject);
}

.appButton {
    position: relative;
    width: $size;
    height: $size;
    border-radius: $size;

    svg {
        transform: scale(.8);
    }

    div {
        position: absolute;
        cursor: pointer;
        user-select: none;
        border-radius: $size;
        height: $size;
        width: $size;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;

    }

    &Base {
        position: absolute;
        background-color: white;
        height: $size;
        width: $size;
        border-radius: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 4;

        cursor: pointer;
        user-select: none;
        color: white
    }

    &Approve {
        bottom: 15px;
        left: -30px;
        background-color: #78d2c2;

        animation: moveOutLeft 500ms ease-in-out 0s 1 forwards normal;
    }

    &Reject {
        bottom: 15px;
        left: 30px;
        background-color: #f16982;

        animation: moveOutRight 500ms ease-in-out 0s 1 forwards normal;
    }

}

.selected {
    width: $size;
    height: $size;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    svg {
        transform: scale(.8);
    }

}

@keyframes moveOutLeft {
    0% {
        bottom: 0px;
        left: 0px;
    }

    100% {
        bottom: 25px;
        left: -20px;
    }
}

@keyframes moveOutRight {
    0% {
        bottom: 0px;
        left: 0px;
    }

    100% {
        bottom: 25px;
        left: 20px;
    }
}

.admin {
    display: flex;
    gap: .1rem;
    flex-direction: column;

    &__btns {
        display: flex;
        justify-content: center;
        gap: .5rem;
    }

    &__title {
        text-align: center;
        font-size: .8rem;
        opacity: .7;
    }

    &__approve {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4rem;
        width: var(--small-circle);
        height: var(--small-circle);

    }


    &--approve {
        color: var(--agree);
    }

    &--reject {
        color: var(--reject);
    }

    &--unselected {
        color: lightgray;
    }
}