// Login.module.scss

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__form {
        width: 300px;
        padding: 20px;
        background-color: #f2f2f2;
        border-radius: 5px;

        &__input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        &__button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}

.googleButton{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
        background-color: #0056b3;
    }
}