.buttons {
    position: sticky;
    bottom: 0; 
    left: 0; 
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: var(--screen-bg);
    
    z-index: 100;

    &Box{
        display: flex;
        justify-content: center;
        gap: 2rem;
       
        
    }
}