.importanceBox{
   
    height: var(--small-circle);
    width: var(--small-circle);
    position: relative;
}

.importance {
    background-color: transparent;
    position: absolute;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--small-circle);
    height: var(--small-circle);

}

.imp0 {
    animation: imp0 550ms;
    animation-fill-mode: forwards;
}



.imp1 {
    animation: imp1 550ms;
    animation-fill-mode: forwards;
}


.imp2 {
    animation: imp2 550ms;
    animation-fill-mode: forwards;
}

.unchecked {
    width: var(--small-circle);
    height:  var(--small-circle);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue-primary);
    position: absolute;
 


  
}



@keyframes imp0 {
    from {
        transform: scale(.6) translate(0%, -50%);
        left: 0px;
        bottom: 0px;
    }

    to {
        transform: scale(1) translate(0%, -50%);
        left: -30px;
        bottom: 0px;
    }
}

@keyframes imp1 {
    from {
        transform: scale(.6);
        left: 0px;
        bottom: 0px;
    }

    to {
        transform: scale(1) translate(0%, -50%);
        left: 0px;
        bottom: 16px;
    }
}

@keyframes imp2 {
    from {
        transform: scale(.6);
        left: 0px;
        bottom: 0px;
    }

    to {
        transform: scale(1) translate(0%, -50%);
        left: 30px;
        bottom: 0px;
    }
}