.lobby-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    page-break-inside: avoid;
    margin-bottom: 1rem;

    a {
        text-decoration: none;
    }

    h2 {
        color: var(--text-headline);
        margin: 0;
    }

    &__u1 {
        padding: .3rem;
    }

    &__u2 {
        padding: .3rem;
        font-size: .89rem;
    }

    .p1 {
       @media screen and (max-width: 768px) {
             font-weight: 500;
             font-size: 1.2rem;
             line-height: 2rem;

             a {
                 color: rgb(29, 29, 29);
             }
        
       }
    }

    .li {
        list-style: none;
        padding-left: .4rem;

        a {
            color: var(--text-paragraph);

        }

        @media screen and (max-width: 768px) {
            line-height: 1.8rem;
            font-size: 1.15rem;
            font-weight: 400;

            a {
                color: rgb(66, 66, 66)
            }

        }
    }


    img {
        width: 100%;
        object-fit: cover;
    }
}