.paragraph {
    position:relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    p{
        margin-bottom: 0rem;
    }

    &Text {
        display: grid;
        gap: 1rem;
        width: 100%;

        button {
            background-color: transparent;
            border: none;
            color: var(--reject);
            font-size: 1 rem;
            cursor: pointer;
            transition: color .3s;


            &:hover {
                color: var(--paragraph-dark);
            }
        }
    }

    .textArea {
        resize: none;
        overflow-y: hidden;
        width: 100%;
        font-weight: 400;
        font-size: 1rem;
        word-wrap: break-word;
        overflow-wrap: break-word;
        padding: .3rem;

        &Edit {
            background-color: transparent;
            border: none;
            font-family: var(--font-main);
        }

    }

    &__approval {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;



        &__buttons {
            display: flex;
            gap: 2rem;
        }
    }

    
}

.paragraphLine {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: .5rem;

    .importance {
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
            transform: scale(.8);
        }

        span {
            font-size: .7rem;
            font-weight: 400;
            color: var(--paragraph-light);
        }
    }
}