.explain-button {
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;


    .img {
        width: 100px;
        height: 100px;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        background-size: contain;
        @media screen and (max-width: 768px) {
            box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
            margin-bottom: .4rem;

        }
    }

    span {
        color: white;

        @media screen and (max-width: 768px) {
           color:var(--label-color)

        }
    }

}