
.mobileHeader {
    display: none;
    @media screen and (max-width: 768px) {
        display: block;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1000;
        background-color: var(--home);
        color: white;
        padding: .4rem;
        text-align: center;
        margin: 0;
        font-size: 1.2rem;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }
}

.desktopHeader {
    display: block;
    position: sticky;
    top: 0;
    background-color: var(--screenBG);
    z-index: 5;

    @media screen and (max-width: 768px) {
        display: none;
    }
}
.lobby {
    display: grid;
    grid-template-columns: 300px 3fr;
    height: 100vh;
    
 
    header{
        margin-bottom: 2rem;
      
    }
    main {
        max-width: 120ch;
        margin: 0rem auto 5rem auto;
        padding: 1rem;
       
    }
     @media screen and (max-width: 768px) {
          grid-template-columns: 1fr;


     }

    aside {
        @media screen and (max-width: 768px) {
            display: none;
            
            
        }
    }
}

.lobby-wrapper {
   display: grid;
    grid-template-columns: 1fr;
   
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--background-footer);
    color: var(--text-footer);
    font-size: 0.8rem;
    text-align: center;

    a {
        color: var(--text-footer);
        text-decoration: none;
    }

    button {
        cursor: pointer;

    }
}
.learnToSuggest{
    @media screen and (min-width: 768px) {
        display: none;
        
    }
}