.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2rem;
    &__text{
        background-color: initial;
        border: none;
        height: 2.47rem;
        font-size: 1.64rem;
        color: var(--headline);
        &:hover, 
        &:focus, 
        &:active {
            outline: none;
        }

        &::placeholder{
            color: var(--disabled-paragrap);
        }
    }
}