.newParagraph {

    background-color: white;
    // border: none;
    height: 2.47rem;
    font-size: 1rem;
    color: var(--headline);
    padding: .5rem;
    border-radius: .5rem;

    &:hover,
    &:focus,
    &:active {
        outline: auto;
    }

    &::placeholder {
        color: var(--disabled-paragraph);
    }
}
