.evaluation {
    display: flex;
    width: fit-content;
    gap: .5rem;
    align-items: center;
    justify-content: start;
    margin-top:.4rem;
    margin-bottom: 1rem;
    transition: opacity 120ms;

   

}

.evaluationAdmin{
    opacity: 1;
    margin-left: 4rem;
}

