.evaluation {
    display: flex;
    width: fit-content;
    gap: .5rem;
    align-items: center;
    justify-content: start;
    margin-top:.4rem;
    margin-bottom: 1rem;
    opacity: .2;
    transition: opacity 120ms;

    &:hover {
        opacity: 1 ;
    }

}

.evaluationAdmin{
    opacity: 1;
}

