$gap: 1.5rem;

.evaluation {
    display: flex;
    width: fit-content;
    gap: $gap;
    align-items: center;
    justify-content: start;
    margin-top:0rem;
    transition: all 100ms;
    opacity: 0.32;

    @media screen and (max-width: 768px) {
        opacity: 0.8;
        margin-bottom: 1rem;
        
    }
   
   
    &:hover {
        opacity: 1;
       
    }

}

.evaluationAdmin{
    opacity: 1;
    margin-left: 4rem;
}

.importance{
    display: flex;
    gap: $gap;
}

