.editButton {
    width: 6.29rem;
    height: 2.05rem;
    padding: 0.23rem 1.41rem;
    gap: 0.23rem;
    border:none;
   
    cursor: pointer;
    border-radius: 3.05rem;
    color: var(--text-blue);
    display: flex;
    align-items: flex-end;
    text-align: center;
    font-size: 1.05rem;
    font-weight: 400;
    color:transparent

    
}

.edit{
   
    background-color: var(--edit);
    color: white;
}
.nonEdit{
    border: none;
    color:gray;
    background-color: transparent;
}