.paper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 2rem;
    width: 100%;

  
    
    .headerWrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .title{
            background-color: transparent;
        }

        .buttons{
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 1rem;
        }
    }

    .mainContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
     
        padding-bottom: 5rem;
      
    }

    .bottomWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4rem;

        
    }
    .buttonWrapper{
        position:sticky;
        bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7rem;
    }
}