.paper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 2rem;
    width: 100%;

  
    
    .headerWrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .title{
            background-color: transparent;
        }

        .buttons{
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 1rem;
        }
    }

    &__mainContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 8px;
        gap: 10px;
        height: 29.4rem;
        padding-bottom: 5rem;
        overflow-y: auto;
    }

    &__bottomWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4rem;

        &__buttonWrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 7rem;
        }
    }
}