  a {
      text-decoration: none;
      color: var(--white);
  }


  .logo {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      gap: 0rem;
      padding-top: 0rem;

      &--rtl {
          padding-left: 0;
          padding-right: 1.4rem;
      }

      .slogan {
          margin: 0;
          font-size: 0.94rem;
          font-weight: 400;
      }
      
  }
  .logoText {
      font-size: 1.5rem;
      font-weight: 500;
  }