.button{
    border:none;
    padding: 10px 30px;
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    &--notActive{
        cursor: not-allowed;
    }

    &:hover{
        background-color: #f0f0f0;
    }
    svg{
        height: 28px;
        width: 28px;
    }
}