.comment {
    display: flex;
       flex-direction: column;
       &__approval{
           display: flex;
           justify-content: end;
           gap: 1rem;
           align-items: center;
           margin-bottom: 1rem;
           
       }
   }