.policyWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70.64em;
    height: 46.29rem;
    overflow-y: hidden;
    margin-left: 4rem;

    &__mainContentWrapper {
        height: 32rem;

        &__title {
            font-weight: 700;
            font-size: 1rem;
            color: var(--text-body-dark);
        }

        &__policyHeaderWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__title {
                color: var(--icon-blue);
                font-weight: 500;
            }

            &__buttonWrapper {
                display: flex;
                gap: 1.5rem;
            }
        }

        &__policyMainContainer {
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            &__description {
                font-size: 1rem;
                font-weight: 400;
                color: var(--body-default);
            }

            &__titleWrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__title {
                    color: var(--text-body-dark);
                    font-weight: 500;
                }

                &__buttonWrapper {
                    display: flex;
                    gap: 1.5rem;
                }
            }
        }
    }



    &__policyFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5rem;

        &__signatureWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.58rem;
            width: 9.23rem;
            padding: 0.58rem;

            &__text {
                font-weight: 400;
                color: var(--text-body-dark);
                font-size: 0.8rem;
            }
        }

        &__buttonWrapper {
            width: 22.76rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}