
.editMain {
    background-color: transparent;
   width: 40px;
    height: 40px;
    border-radius: 3rem;
    position: relative;

    svg {
        position: absolute;
        bottom: 0;
        left: 0;
        cursor: pointer;
        user-select: none;
        // transform: translate(-50%, -50%);
    }
}

.imp0 {
    animation: imp0 550ms;
    animation-fill-mode: forwards;
}



.imp1 {
    animation: imp1 550ms;
    animation-fill-mode: forwards;
}


.imp2 {
    animation: imp2 550ms;
    animation-fill-mode: forwards;
}

.unchecked {
   width: 100%;
    height: 100%;
   display: flex;
   justify-content: center;
    align-items: center;
    color: var(--blue-primary);
   
    svg{
        position: relative;
    }
}



@keyframes imp0 {
    from {
        transform:  scale(.6) translate(0%, -50%);
        left: 0px;
        bottom: 0px;
    }

    to {
        transform: scale(1) translate(0%, -50%);
        left: -40px;
        bottom: 15px;
    }
}

@keyframes imp1 {
    from {
        transform:scale(.6);
        left: 0px;
        bottom: 0px;
    }

    to {
        transform: scale(1) translate(0%, -50%);
        left: 0px;
        bottom: 30px;
    }
}

@keyframes imp2 {
    from {
        transform: scale(.6);
        left: 0px;
        bottom: 0px;
    }

    to {
        transform: scale(1) translate(0%, -50%);
        left: 40px;
        bottom: 15px;
    }
}