.comment {
    position: relative;
    width: fit-content;
    margin-bottom:.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .profileImage {
        position: absolute;
        left: -2rem;
        top: 1rem;
        border-radius: 50%;
        width: 1.88rem;
        height: 1.88rem;
        border: 2px solid var(--icon-blue);
    }

    .description {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--icon-blue);
        border-radius: 10px;
        box-shadow:
            0px 1px 4px 0px #0C0C0D0D,
            0px 1px 4px 0px #0C0C0D1A;
        padding:1rem;
        width: fit-content;
        max-width: 20rem;


        @media screen and (max-width: 768px){
            max-width: 17rem;
            
        }

        .text{
            font-size: 0.8rem;
            color: var(--icon-blue);
            margin-bottom: 1.2rem;
        }
        

        .btns{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap:1rem;

            .agree{
                color:var(--agree);
            }

            .disagree{
                color:var(--reject);
            }
            
           @media screen and (max-width: 768px){
               gap:0.3rem;
            
           }
        }



    }



}