.header{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 10px 0px #2827271a;
    padding: 1rem;

    a{
        text-decoration: none;
        color: var(--headline);
    }

    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        @media screen and (max-width: 1030px) {
           flex-direction: column;
        }

        .buttons{
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 1rem;

           
        }
        .button{
            height: fit-content;
            width: fit-content;
            border: none ;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}